In [1]:
import pandas as pd
import numpy as np
import os
import sys
from tqdm import tqdm
from aequitas.audit import Audit

/home/lshpaner/Python_Projects/equi_boots/equi_venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data_path = os.path.join(os.pardir, "public_data/")

In [3]:
df = pd.read_csv(os.path.join(data_path, "adult_predictions.csv")).set_index("Adult_ID")

In [4]:
df.head()  # inspect first 5 rows of data

                         race     sex  income  predicted
Adult_ID
482204877  Asian-Pac-Islander    Male       1          1
351730626  Amer-Indian-Eskimo    Male       0          0
186467915               White    Male       0          1
451753915               White  Female       1          1
893237791               Black  Female       0          0

## Apply the Audit Method

In [5]:
audit = Audit(df=df, score_column="predicted", label_column="income")
audit.audit()

## Inspect Disparity DataFrame

In [6]:
audit.disparity_df

,model_id,score_threshold,k,attribute_name,attribute_value,accuracy,tpr,tnr,for,fdr,...,ppr_ref_group_value,pprev_ref_group_value,precision_ref_group_value,fdr_ref_group_value,for_ref_group_value,fpr_ref_group_value,fnr_ref_group_value,tpr_ref_group_value,tnr_ref_group_value,npv_ref_group_value
0,0,binary 0/1,5607,race,Amer-Indian-Eskimo,0.691489,1.000000,0.650602,0.000000,0.725000,...,White,White,White,White,White,White,White,White,White,White
1,0,binary 0/1,5607,race,Asian-Pac-Islander,0.629508,0.963415,0.506726,0.025862,0.582011,...,White,White,White,White,White,White,White,White,White,White
2,0,binary 0/1,5607,race,Black,0.725720,0.982301,0.690534,0.003503,0.696721,...,White,White,White,White,White,White,White,White,White,White
3,0,binary 0/1,5607,race,Other,0.637500,1.000000,0.591549,0.000000,0.763158,...,White,White,White,White,White,White,White,White,White,White
4,0,binary 0/1,5607,race,White,0.643609,0.970311,0.532403,0.018628,0.586047,...,White,White,White,White,White,White,White,White,White,White
5,0,binary 0/1,5607,sex,Female,0.760802,0.926554,0.740471,0.012020,0.695450,...,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male
6,0,binary 0/1,5607,sex,Male,0.597214,0.978820,0.430864,0.020979,0.571523,...,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male

In [ ]:
## output disparity dataframe to csv file in data path
audit.disparity_df.to_csv(os.path.join(data_path, "disparity_metrics.csv"))